.r-bgd {
  background-color: #333738;
  height: 70vh;
  width: 100v;
  display: flex;
  flex-wrap: wrap;
}
.r-bg {
  background-color: #a7b5b8;
  height: 70vh;
  width: 101vw;
  display: flex;
  flex-wrap: wrap;
}
.c-bgl {
  background-color: #ffffff;
}
.c-bgd {
  background-color: #706f70;
}
.t-bgl {
  color: black;
}
.t-bgd {
  color: white;
}
.st-bdd {
  color: #e0e0e0;
}
.st-bd {
  color: #797979;
}
.stl-bd {
  color: #979797;
}
.p {
  width: 10%;
  height: 20vh;
  margin: 20px 10px;
  border: 2px solid #0000;
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  align-items: normal;
}
.pl {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
}
.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  margin-top: 2%;
  margin-left: 4%;
  display: flex;
  align-items: left;
}

.language {
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  align-items: left;
}

.pushed {
  margin-top: 1%;
  align-items: right;
  display: flex;
  margin-left: 68%;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img {
  transform: translateY(-100%);
}

.c-item {
  min-width: 350px;
  max-width: 350px;
}

@media screen and (max-width: 300px) {
  .p {
    width: 40%;
    height: 20vh;
  }
  .r-bgd {
    background-color: #333738;
    padding: 10%;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1273px) {
  .r-bg {
    background-color: #a7b5b8;
    padding: 10%;
    height: auto;
    width: 101vw;
    display: flex;
    flex-wrap: wrap;
  }
  .r-bgd {
    background-color: #333738;
    padding: 10%;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
