.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #9be2f2;*/
}

.i-right {
  flex: 1;
  position: relative;
  /*background-color: #9be2f2;*/
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 17s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.i-img {
  display: block;
  margin-left: 8rem;
  margin-right: auto;
  margin-top: 4rem;
  width: 50%;
  object-fit: cover;
  position: absolute;
  border-radius: 1rem;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .i-img {
    display: block;
    margin-left: 17rem;
    margin-right: auto;
    margin-top: 4rem;
    width: 50%;
    object-fit: cover;
    position: absolute;
    border-radius: 1rem;
  }
}

.i-bg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #274073;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }
}
